<script>
	import { invalidateAll } from '$app/navigation';
	import { currentUser, pb } from '$lib/pocketbase';

	function logout() {
		pb.authStore.clear();
		invalidateAll();
	}
</script>

<div class="w-screen h-screen flex gap-2">
	<div class="max-w-64 w-full bg-white shadow flex flex-col justify-between">
		<div>
			<a
				href="/home"
				class="font-bold text-center inline-block w-full text-4xl py-10 font-['Roboto_Mono','monospace']"
			>
				[ CTF ]
			</a>
		</div>

		<div class="text-center py-2">
			<p>
				Logged in as: {$currentUser?.username}
			</p>

			<button on:click={logout} class="underline">Log out</button>
		</div>
	</div>
	<div class="overflow-scroll w-full"><slot /></div>
</div>
